In [1]:
from __future__ import print_function;
import sys;
import findspark
findspark.init('/home/imran/spark')


from pyspark.sql import SparkSession;
from pyspark.sql.types import StructType, StructField, StringType, IntegerType;
from pyspark.sql.functions import regexp_replace, ltrim, rtrim;

filepath = "/home/imran/py/PepoleEDA/data/adult.data";

spark = SparkSession.builder.appName("DataFramePivotEx").getOrCreate();

strct = StructType([StructField("age", IntegerType(), True), 
	StructField("workclass", StringType(), True),
	StructField("finalweight", StringType(), True),
	StructField("education", StringType(), True),
	StructField("educationnum", StringType(), True),
	StructField("maritalstatus", StringType(), True),
	StructField("occupation", StringType(), True),
	StructField("relationship", StringType(), True),
	StructField("race", StringType(), True),
	StructField("gender", StringType(), True),
	StructField("capitalgain", StringType(), True),
	StructField("capitalloss", StringType(), True),
	StructField("hoursperweek", StringType(), True),
	StructField("country", StringType(), True),
	StructField("salary", StringType(), True)]);

df = spark.read.csv(filepath, schema=strct);

dfregex1 = df.select(df.workclass, df.finalweight, df.education, df.educationnum, df.maritalstatus, 
                     df.occupation, df.relationship, df.race , df.gender, df.capitalgain, df.capitalloss
                     , df.hoursperweek, df.country, regexp_replace(df.salary, '(<=50K)', '50').alias('salary'));

dfregex = dfregex1.select(dfregex1.workclass, dfregex1.finalweight, dfregex1.education, dfregex1.educationnum
                          , dfregex1.maritalstatus, dfregex1.occupation, dfregex1.relationship, dfregex1.race 
                          , dfregex1.gender, dfregex1.capitalgain, dfregex1.capitalloss, dfregex1.hoursperweek
                          , dfregex1.country, regexp_replace(dfregex1.salary, '(>50K)', '51').alias('salary'));
df =dfregex;

df = dfregex.na.fill({'salary':'0'});
df = df.select(df.workclass, df.education, df.occupation
               , (ltrim(rtrim(df.hoursperweek))).cast(IntegerType()).alias("hoursperweek") 
               , (rtrim(ltrim(df.salary))).cast(IntegerType()).alias("salary") ).na.drop().distinct();
df = df.filter(ltrim(rtrim(df.workclass)) != "?" )
df = df.filter(ltrim(rtrim(df.workclass)) != "Without-pay") 
df = df.filter(ltrim(rtrim(df.workclass)) != "Never-worked") 


df.groupBy("education","occupation").pivot("workclass").sum("salary").collect()

+-----------+------------------+------------+----------+--------+-------------+-----------------+----------+
|  education|        occupation| Federal-gov| Local-gov| Private| Self-emp-inc| Self-emp-not-inc| State-gov|
+-----------+------------------+------------+----------+--------+-------------+-----------------+----------+
|  Assoc-voc|      Adm-clerical|         151|       450|    1409|           50|               50|       150|
|       11th|      Adm-clerical|         150|       200|     901|         null|              100|       100|
|    Masters|  Transport-moving|          50|      null|     304|           50|             null|        50|
|  Assoc-voc| Machine-op-inspct|        null|      null|     654|           51|               50|        51|
|    7th-8th|             Sales|        null|      null|     552|           50|              402|      null|
|    5th-6th| Handlers-cleaners|        null|       101|     501|         null|               50|      null|
|    Masters|      Adm-clerical|         202|       252|     756|           50|             null|       352|
|    Masters|      Armed-Forces|          51|      null|    null|         null|             null|      null|
|  Bachelors|  Transport-moving|         100|       100|     857|         null|              301|      null|
|  Assoc-voc|   Farming-fishing|          50|      null|     452|          101|              904|      null|
|    7th-8th|   Priv-house-serv|        null|      null|     350|         null|             null|      null|
| Assoc-acdm| Handlers-cleaners|        null|        50|     702|         null|             null|      null|
|    1st-4th|     Other-service|        null|       150|     650|         null|              100|        50|
|       10th|     Other-service|         100|       250|    1701|          100|              250|       150|
|  Bachelors| Machine-op-inspct|        null|        50|     905|          152|              101|       100|
|       11th|     Other-service|          50|       350|    1852|         null|              251|       251|
|       12th|   Priv-house-serv|        null|      null|     100|         null|             null|      null|
| Assoc-acdm|  Transport-moving|          50|        50|     501|         null|              252|        50|
|  Bachelors|    Prof-specialty|         858|      2314|    3886|          607|             1465|      1662|
|    5th-6th|   Exec-managerial|        null|      null|    null|         null|               51|      null|
+-----------+------------------+------------+----------+--------+-------------+-----------------+----------+
only showing top 20 rows

In [2]:
df.groupBy("education","occupation").pivot("workclass").sum("salary").show()

+-----------+------------------+------------+----------+--------+-------------+-----------------+----------+
|  education|        occupation| Federal-gov| Local-gov| Private| Self-emp-inc| Self-emp-not-inc| State-gov|
+-----------+------------------+------------+----------+--------+-------------+-----------------+----------+
|  Assoc-voc|      Adm-clerical|         151|       450|    1409|           50|               50|       150|
|       11th|      Adm-clerical|         150|       200|     901|         null|              100|       100|
|    Masters|  Transport-moving|          50|      null|     304|           50|             null|        50|
|  Assoc-voc| Machine-op-inspct|        null|      null|     654|           51|               50|        51|
|    7th-8th|             Sales|        null|      null|     552|           50|              402|      null|
|    5th-6th| Handlers-cleaners|        null|       101|     501|         null|               50|      null|
|    Masters|      Adm-clerical|         202|       252|     756|           50|             null|       352|
|    Masters|      Armed-Forces|          51|      null|    null|         null|             null|      null|
|  Bachelors|  Transport-moving|         100|       100|     857|         null|              301|      null|
|  Assoc-voc|   Farming-fishing|          50|      null|     452|          101|              904|      null|
|    7th-8th|   Priv-house-serv|        null|      null|     350|         null|             null|      null|
| Assoc-acdm| Handlers-cleaners|        null|        50|     702|         null|             null|      null|
|    1st-4th|     Other-service|        null|       150|     650|         null|              100|        50|
|       10th|     Other-service|         100|       250|    1701|          100|              250|       150|
|  Bachelors| Machine-op-inspct|        null|        50|     905|          152|              101|       100|
|       11th|     Other-service|          50|       350|    1852|         null|              251|       251|
|       12th|   Priv-house-serv|        null|      null|     100|         null|             null|      null|
| Assoc-acdm|  Transport-moving|          50|        50|     501|         null|              252|        50|
|  Bachelors|    Prof-specialty|         858|      2314|    3886|          607|             1465|      1662|
|    5th-6th|   Exec-managerial|        null|      null|    null|         null|               51|      null|
+-----------+------------------+------------+----------+--------+-------------+-----------------+----------+
only showing top 20 rows

In [5]:
df.crosstab("education","salary").show()

+----------------+---+---+
|education_salary| 50| 51|
+----------------+---+---+
|         HS-grad|899|385|
|             9th|154| 24|
|       Assoc-voc|293|138|
|            10th|243| 35|
|         7th-8th|202| 28|
|      Assoc-acdm|282|119|
|    Some-college|812|355|
|         1st-4th| 77|  5|
|            11th|300| 40|
|       Preschool| 29|  0|
|         5th-6th|102| 12|
|       Doctorate| 57|100|
|            12th|150| 20|
|     Prof-school| 77|122|
|       Bachelors|543|400|
|         Masters|237|206|
+----------------+---+---+

In [6]:
df.crosstab("occupation","salary").show()

+------------------+---+---+
| occupation_salary| 50| 51|
+------------------+---+---+
|      Armed-Forces|  8|  1|
|             Sales|457|235|
|   Exec-managerial|451|396|
|      Craft-repair|437|200|
|   Protective-serv|167| 96|
|   Farming-fishing|316| 79|
|    Prof-specialty|538|398|
| Machine-op-inspct|231| 70|
|      Tech-support|186|108|
|      Adm-clerical|458|163|
| Handlers-cleaners|250| 41|
|  Transport-moving|298|119|
|     Other-service|578| 82|
|   Priv-house-serv| 82|  1|
+------------------+---+---+

In [7]:
df.groupBy("education","occupation").pivot("workclass").sum("salary").collect()

[Row(education=u' Assoc-voc', occupation=u' Adm-clerical',  Federal-gov=151,  Local-gov=450,  Private=1409,  Self-emp-inc=50,  Self-emp-not-inc=50,  State-gov=150),
 Row(education=u' 11th', occupation=u' Adm-clerical',  Federal-gov=150,  Local-gov=200,  Private=901,  Self-emp-inc=None,  Self-emp-not-inc=100,  State-gov=100),
 Row(education=u' Masters', occupation=u' Transport-moving',  Federal-gov=50,  Local-gov=None,  Private=304,  Self-emp-inc=50,  Self-emp-not-inc=None,  State-gov=50),
 Row(education=u' Assoc-voc', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=654,  Self-emp-inc=51,  Self-emp-not-inc=50,  State-gov=51),
 Row(education=u' 7th-8th', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=552,  Self-emp-inc=50,  Self-emp-not-inc=402,  State-gov=None),
 Row(education=u' 5th-6th', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=101,  Private=501,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=None),
 Row(education=u' Masters', occupation=u' Adm-clerical',  Federal-gov=202,  Local-gov=252,  Private=756,  Self-emp-inc=50,  Self-emp-not-inc=None,  State-gov=352),
 Row(education=u' Masters', occupation=u' Armed-Forces',  Federal-gov=51,  Local-gov=None,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Bachelors', occupation=u' Transport-moving',  Federal-gov=100,  Local-gov=100,  Private=857,  Self-emp-inc=None,  Self-emp-not-inc=301,  State-gov=None),
 Row(education=u' Assoc-voc', occupation=u' Farming-fishing',  Federal-gov=50,  Local-gov=None,  Private=452,  Self-emp-inc=101,  Self-emp-not-inc=904,  State-gov=None),
 Row(education=u' 7th-8th', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=350,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=50,  Private=702,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 1st-4th', occupation=u' Other-service',  Federal-gov=None,  Local-gov=150,  Private=650,  Self-emp-inc=None,  Self-emp-not-inc=100,  State-gov=50),
 Row(education=u' 10th', occupation=u' Other-service',  Federal-gov=100,  Local-gov=250,  Private=1701,  Self-emp-inc=100,  Self-emp-not-inc=250,  State-gov=150),
 Row(education=u' Bachelors', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=50,  Private=905,  Self-emp-inc=152,  Self-emp-not-inc=101,  State-gov=100),
 Row(education=u' 11th', occupation=u' Other-service',  Federal-gov=50,  Local-gov=350,  Private=1852,  Self-emp-inc=None,  Self-emp-not-inc=251,  State-gov=251),
 Row(education=u' 12th', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=100,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Transport-moving',  Federal-gov=50,  Local-gov=50,  Private=501,  Self-emp-inc=None,  Self-emp-not-inc=252,  State-gov=50),
 Row(education=u' Bachelors', occupation=u' Prof-specialty',  Federal-gov=858,  Local-gov=2314,  Private=3886,  Self-emp-inc=607,  Self-emp-not-inc=1465,  State-gov=1662),
 Row(education=u' 5th-6th', occupation=u' Exec-managerial',  Federal-gov=None,  Local-gov=None,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=51,  State-gov=None),
 Row(education=u' HS-grad', occupation=u' Sales',  Federal-gov=101,  Local-gov=None,  Private=3370,  Self-emp-inc=1264,  Self-emp-not-inc=1965,  State-gov=100),
 Row(education=u' 11th', occupation=u' Protective-serv',  Federal-gov=None,  Local-gov=100,  Private=252,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Prof-school', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=505,  Self-emp-inc=51,  Self-emp-not-inc=254,  State-gov=None),
 Row(education=u' Assoc-voc', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=1105,  Self-emp-inc=504,  Self-emp-not-inc=303,  State-gov=None),
 Row(education=u' 5th-6th', occupation=u' Adm-clerical',  Federal-gov=None,  Local-gov=None,  Private=100,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Craft-repair',  Federal-gov=101,  Local-gov=202,  Private=1108,  Self-emp-inc=151,  Self-emp-not-inc=352,  State-gov=50),
 Row(education=u' Bachelors', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=351,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Doctorate', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=51,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 12th', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=951,  Self-emp-inc=101,  Self-emp-not-inc=100,  State-gov=None),
 Row(education=u' 11th', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=100,  Private=1103,  Self-emp-inc=None,  Self-emp-not-inc=150,  State-gov=None),
 Row(education=u' HS-grad', occupation=u' Other-service',  Federal-gov=150,  Local-gov=1304,  Private=3309,  Self-emp-inc=552,  Self-emp-not-inc=1404,  State-gov=703),
 Row(education=u' Bachelors', occupation=u' Handlers-cleaners',  Federal-gov=100,  Local-gov=101,  Private=755,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Doctorate', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=202,  Self-emp-inc=None,  Self-emp-not-inc=152,  State-gov=None),
 Row(education=u' 11th', occupation=u' Exec-managerial',  Federal-gov=None,  Local-gov=50,  Private=552,  Self-emp-inc=252,  Self-emp-not-inc=502,  State-gov=None),
 Row(education=u' 9th', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=51,  Private=1052,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 12th', occupation=u' Prof-specialty',  Federal-gov=None,  Local-gov=50,  Private=351,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Some-college', occupation=u' Tech-support',  Federal-gov=353,  Local-gov=356,  Private=2012,  Self-emp-inc=51,  Self-emp-not-inc=355,  State-gov=350),
 Row(education=u' 12th', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=351,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 10th', occupation=u' Tech-support',  Federal-gov=None,  Local-gov=None,  Private=151,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Masters', occupation=u' Exec-managerial',  Federal-gov=355,  Local-gov=911,  Private=2020,  Self-emp-inc=759,  Self-emp-not-inc=910,  State-gov=659),
 Row(education=u' 9th', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=400,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Masters', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=250,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=51),
 Row(education=u' Prof-school', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=50,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 9th', occupation=u' Adm-clerical',  Federal-gov=None,  Local-gov=50,  Private=201,  Self-emp-inc=50,  Self-emp-not-inc=50,  State-gov=50),
 Row(education=u' Masters', occupation=u' Sales',  Federal-gov=102,  Local-gov=None,  Private=1210,  Self-emp-inc=659,  Self-emp-not-inc=606,  State-gov=51),
 Row(education=u' Preschool', occupation=u' Adm-clerical',  Federal-gov=None,  Local-gov=50,  Private=50,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 7th-8th', occupation=u' Adm-clerical',  Federal-gov=None,  Local-gov=50,  Private=300,  Self-emp-inc=None,  Self-emp-not-inc=51,  State-gov=None),
 Row(education=u' Some-college', occupation=u' Adm-clerical',  Federal-gov=955,  Local-gov=1151,  Private=3424,  Self-emp-inc=252,  Self-emp-not-inc=755,  State-gov=852),
 Row(education=u' Some-college', occupation=u' Sales',  Federal-gov=150,  Local-gov=100,  Private=3520,  Self-emp-inc=1313,  Self-emp-not-inc=1411,  State-gov=201),
 Row(education=u' HS-grad', occupation=u' Exec-managerial',  Federal-gov=503,  Local-gov=1057,  Private=2722,  Self-emp-inc=1518,  Self-emp-not-inc=1862,  State-gov=453),
 Row(education=u' Some-college', occupation=u' Protective-serv',  Federal-gov=353,  Local-gov=1414,  Private=1104,  Self-emp-inc=101,  Self-emp-not-inc=None,  State-gov=553),
 Row(education=u' 1st-4th', occupation=u' Protective-serv',  Federal-gov=None,  Local-gov=None,  Private=50,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Sales',  Federal-gov=50,  Local-gov=None,  Private=1408,  Self-emp-inc=455,  Self-emp-not-inc=503,  State-gov=51),
 Row(education=u' Masters', occupation=u' Farming-fishing',  Federal-gov=None,  Local-gov=None,  Private=51,  Self-emp-inc=51,  Self-emp-not-inc=351,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Protective-serv',  Federal-gov=100,  Local-gov=455,  Private=151,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=200),
 Row(education=u' Prof-school', occupation=u' Tech-support',  Federal-gov=None,  Local-gov=None,  Private=302,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 12th', occupation=u' Transport-moving',  Federal-gov=None,  Local-gov=101,  Private=604,  Self-emp-inc=None,  Self-emp-not-inc=100,  State-gov=50),
 Row(education=u' HS-grad', occupation=u' Prof-specialty',  Federal-gov=151,  Local-gov=201,  Private=1962,  Self-emp-inc=202,  Self-emp-not-inc=755,  State-gov=252),
 Row(education=u' 12th', occupation=u' Protective-serv',  Federal-gov=None,  Local-gov=50,  Private=150,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 10th', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=1102,  Self-emp-inc=250,  Self-emp-not-inc=302,  State-gov=None),
 Row(education=u' Assoc-voc', occupation=u' Protective-serv',  Federal-gov=101,  Local-gov=656,  Private=201,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=151),
 Row(education=u' 9th', occupation=u' Machine-op-inspct',  Federal-gov=51,  Local-gov=None,  Private=802,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=50),
 Row(education=u' 9th', occupation=u' Protective-serv',  Federal-gov=None,  Local-gov=50,  Private=100,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Some-college', occupation=u' Transport-moving',  Federal-gov=202,  Local-gov=352,  Private=2217,  Self-emp-inc=253,  Self-emp-not-inc=502,  State-gov=250),
 Row(education=u' Prof-school', occupation=u' Other-service',  Federal-gov=None,  Local-gov=None,  Private=50,  Self-emp-inc=51,  Self-emp-not-inc=50,  State-gov=50),
 Row(education=u' 7th-8th', occupation=u' Other-service',  Federal-gov=50,  Local-gov=200,  Private=1151,  Self-emp-inc=None,  Self-emp-not-inc=350,  State-gov=100),
 Row(education=u' HS-grad', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=850,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Prof-specialty',  Federal-gov=101,  Local-gov=402,  Private=1408,  Self-emp-inc=151,  Self-emp-not-inc=301,  State-gov=351),
 Row(education=u' Bachelors', occupation=u' Armed-Forces',  Federal-gov=50,  Local-gov=None,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' HS-grad', occupation=u' Armed-Forces',  Federal-gov=200,  Local-gov=None,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' HS-grad', occupation=u' Transport-moving',  Federal-gov=302,  Local-gov=702,  Private=2972,  Self-emp-inc=352,  Self-emp-not-inc=1207,  State-gov=303),
 Row(education=u' 5th-6th', occupation=u' Tech-support',  Federal-gov=None,  Local-gov=None,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=None),
 Row(education=u' Assoc-voc', occupation=u' Prof-specialty',  Federal-gov=202,  Local-gov=302,  Private=1411,  Self-emp-inc=51,  Self-emp-not-inc=453,  State-gov=203),
 Row(education=u' 5th-6th', occupation=u' Protective-serv',  Federal-gov=None,  Local-gov=50,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Masters', occupation=u' Other-service',  Federal-gov=None,  Local-gov=50,  Private=301,  Self-emp-inc=100,  Self-emp-not-inc=100,  State-gov=None),
 Row(education=u' HS-grad', occupation=u' Farming-fishing',  Federal-gov=101,  Local-gov=300,  Private=1756,  Self-emp-inc=553,  Self-emp-not-inc=2162,  State-gov=101),
 Row(education=u' 12th', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=100,  Private=651,  Self-emp-inc=None,  Self-emp-not-inc=101,  State-gov=None),
 Row(education=u' 5th-6th', occupation=u' Craft-repair',  Federal-gov=50,  Local-gov=None,  Private=401,  Self-emp-inc=51,  Self-emp-not-inc=101,  State-gov=None),
 Row(education=u' 9th', occupation=u' Sales',  Federal-gov=None,  Local-gov=None,  Private=603,  Self-emp-inc=200,  Self-emp-not-inc=51,  State-gov=None),
 Row(education=u' 12th', occupation=u' Craft-repair',  Federal-gov=None,  Local-gov=100,  Private=653,  Self-emp-inc=100,  Self-emp-not-inc=251,  State-gov=50),
 Row(education=u' Doctorate', occupation=u' Transport-moving',  Federal-gov=None,  Local-gov=None,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Adm-clerical',  Federal-gov=253,  Local-gov=453,  Private=1608,  Self-emp-inc=50,  Self-emp-not-inc=152,  State-gov=402),
 Row(education=u' 12th', occupation=u' Farming-fishing',  Federal-gov=None,  Local-gov=50,  Private=350,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=None),
 Row(education=u' HS-grad', occupation=u' Craft-repair',  Federal-gov=151,  Local-gov=604,  Private=3423,  Self-emp-inc=756,  Self-emp-not-inc=1661,  State-gov=353),
 Row(education=u' 1st-4th', occupation=u' Exec-managerial',  Federal-gov=None,  Local-gov=None,  Private=51,  Self-emp-inc=None,  Self-emp-not-inc=151,  State-gov=None),
 Row(education=u' 12th', occupation=u' Adm-clerical',  Federal-gov=100,  Local-gov=150,  Private=501,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=50),
 Row(education=u' Doctorate', occupation=u' Farming-fishing',  Federal-gov=None,  Local-gov=None,  Private=None,  Self-emp-inc=51,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Prof-school', occupation=u' Exec-managerial',  Federal-gov=152,  Local-gov=153,  Private=658,  Self-emp-inc=203,  Self-emp-not-inc=203,  State-gov=203),
 Row(education=u' 5th-6th', occupation=u' Prof-specialty',  Federal-gov=None,  Local-gov=50,  Private=None,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Some-college', occupation=u' Farming-fishing',  Federal-gov=50,  Local-gov=101,  Private=1156,  Self-emp-inc=402,  Self-emp-not-inc=1506,  State-gov=200),
 Row(education=u' 10th', occupation=u' Protective-serv',  Federal-gov=None,  Local-gov=150,  Private=100,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-acdm', occupation=u' Farming-fishing',  Federal-gov=50,  Local-gov=50,  Private=151,  Self-emp-inc=None,  Self-emp-not-inc=202,  State-gov=None),
 Row(education=u' Doctorate', occupation=u' Tech-support',  Federal-gov=None,  Local-gov=None,  Private=101,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=50),
 Row(education=u' Some-college', occupation=u' Handlers-cleaners',  Federal-gov=252,  Local-gov=201,  Private=1703,  Self-emp-inc=None,  Self-emp-not-inc=151,  State-gov=100),
 Row(education=u' 7th-8th', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=852,  Self-emp-inc=51,  Self-emp-not-inc=101,  State-gov=None),
 Row(education=u' 9th', occupation=u' Prof-specialty',  Federal-gov=None,  Local-gov=None,  Private=50,  Self-emp-inc=50,  Self-emp-not-inc=50,  State-gov=None),
 Row(education=u' Preschool', occupation=u' Other-service',  Federal-gov=None,  Local-gov=50,  Private=350,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=50),
 Row(education=u' 7th-8th', occupation=u' Farming-fishing',  Federal-gov=None,  Local-gov=50,  Private=601,  Self-emp-inc=50,  Self-emp-not-inc=752,  State-gov=None),
 Row(education=u' Preschool', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=50,  Private=200,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Preschool', occupation=u' Farming-fishing',  Federal-gov=None,  Local-gov=None,  Private=300,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Preschool', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=50,  Private=50,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 10th', occupation=u' Exec-managerial',  Federal-gov=None,  Local-gov=50,  Private=302,  Self-emp-inc=151,  Self-emp-not-inc=201,  State-gov=51),
 Row(education=u' Bachelors', occupation=u' Exec-managerial',  Federal-gov=658,  Local-gov=958,  Private=3081,  Self-emp-inc=1517,  Self-emp-not-inc=1312,  State-gov=909),
 Row(education=u' Prof-school', occupation=u' Transport-moving',  Federal-gov=None,  Local-gov=None,  Private=102,  Self-emp-inc=51,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Some-college', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=300,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 10th', occupation=u' Adm-clerical',  Federal-gov=None,  Local-gov=50,  Private=600,  Self-emp-inc=None,  Self-emp-not-inc=100,  State-gov=50),
 Row(education=u' Assoc-acdm', occupation=u' Tech-support',  Federal-gov=100,  Local-gov=201,  Private=1007,  Self-emp-inc=None,  Self-emp-not-inc=50,  State-gov=152),
 Row(education=u' 7th-8th', occupation=u' Prof-specialty',  Federal-gov=None,  Local-gov=None,  Private=300,  Self-emp-inc=None,  Self-emp-not-inc=100,  State-gov=None),
 Row(education=u' 1st-4th', occupation=u' Prof-specialty',  Federal-gov=None,  Local-gov=None,  Private=200,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 11th', occupation=u' Prof-specialty',  Federal-gov=None,  Local-gov=150,  Private=652,  Self-emp-inc=50,  Self-emp-not-inc=50,  State-gov=None),
 Row(education=u' 10th', occupation=u' Handlers-cleaners',  Federal-gov=None,  Local-gov=101,  Private=951,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=50),
 Row(education=u' Bachelors', occupation=u' Tech-support',  Federal-gov=452,  Local-gov=303,  Private=1564,  Self-emp-inc=101,  Self-emp-not-inc=303,  State-gov=352),
 Row(education=u' Assoc-voc', occupation=u' Transport-moving',  Federal-gov=None,  Local-gov=151,  Private=756,  Self-emp-inc=50,  Self-emp-not-inc=102,  State-gov=None),
 Row(education=u' 9th', occupation=u' Transport-moving',  Federal-gov=None,  Local-gov=50,  Private=452,  Self-emp-inc=50,  Self-emp-not-inc=101,  State-gov=50),
 Row(education=u' 1st-4th', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=250,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Assoc-voc', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=200,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' Preschool', occupation=u' Priv-house-serv',  Federal-gov=None,  Local-gov=None,  Private=100,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),
 Row(education=u' 1st-4th', occupation=u' Machine-op-inspct',  Federal-gov=None,  Local-gov=None,  Private=351,  Self-emp-inc=None,  Self-emp-not-inc=None,  State-gov=None),